<link type="text/css" href="../pic/style.css" rel="stylesheet">
<div id="top">
	<div id="logo"><a href="<{$rs_ad[2].url[0]}>"><img src="<{$rs_ad[2].pic[0]}>"  /></a></div>
    <div id="top_right_box">
        <div class="right_con">
            <div class="con_left">
               <div style="float:right; display:inline-block;">
                   <div style="height:25px; line-height:25px; float:right; display:inline-block;">
                        <{if $userid==-1}>
                        <a class="menu1" rel="nofollow" href="<{$folder}>profile.php"><{$lg.login}></a>|
                        <a class="menu1" rel="nofollow" href="<{$folder}>register.php"><{$lg.reg}></a>|
                        <{else}>
                        <a class="menu1" rel="nofollow" href="<{$folder}>profile.php?action=logout">Log Out</a>|
                        <{/if}>
                        <a class="menu1" rel="nofollow" href="<{$folder}>shopcart.php">Cart</a> 
                        |
                        <a class="menu1" rel="nofollow" href="<{$folder}>profile.php">Member Center</a> 
                        |
                        <a class="menu1" rel="nofollow" href="<{$folder}>feedback.php"><{$lg.feedback}></a> 
                       
                   </div>
               </div>
            </div>
        </div>
    </div>
</div>

<div id="nav">
  <div class="nav_left"></div>
  <div class="nav_mid">
     <ul class="menulist">
       <li class="item"><a class="first" href="<{$folder}>"><{$lg.home}></a></li>
     <{foreach key=key1 item=rows from=$rs_top name=rs_top}>
       <li class="item"><a class="first" href="<{$rows.url}>"><{$rows.name}></a></li>
     <{/foreach}>
     </ul>
     <script type="text/javascript">
/*       $(".item").each(function(){
		  $(this).hover(
			  function(){
				 $(this).addClass("item_cur");  
				 $(this).find(".subnavbox").css("display",""); 
			  },
			  function(){
				 $(this).removeClass("item_cur"); 
				 $(this).find(".subnavbox").css("display","none");  
			  }
		  ); 						
	   });*/
     </script>
  </div>
  <div class="nav_right"></div>
</div>

<div id="search">
   <div class="search_left"></div>
   <div class="search_mid">
      <div class="search_box">
      <form action="<{$folder}>products.php" method="get" enctype="application/x-www-form-urlencoded">
        <div class="search_box_input">
           <input name="name" type="text" value="<{$search_keywords}>" />
           <input name="is_search" type="hidden" value="1" />
        </div>                    
       
        <div class="search_box_right"><input type="image"  src="../pic/searchbtn.jpg" /></div>
      </form>
      </div>
      <div class="gundongtext">
        <marquee width="380" scrollamount="3" onmouseout="this.start()" onmouseover="this.stop()">
        <{$content_32}>
        </marquee>
      </div>
      <div class="carbox">
         <a class="cart" rel="nofollow" href="<{$folder}>shopcart.php"><{$lg.cart}>: <span style="color:#F00" id="_ajax_div_items"><{$totalnum}></span> <{$lg.items}></a>
      </div>
   </div>
   <div class="search_right"></div>
</div>

<div class="w1004"><{$content_68}></div>

 