<div style="border-bottom: #9edcf4 1px solid; border-left: #9edcf4 1px solid; padding-bottom: 3px; background-color: #c7ecff; padding-left: 3px; width: 700px; padding-right: 3px; border-top: #9edcf4 1px solid; border-right: #9edcf4 1px solid; padding-top: 3px">
<div style="border-bottom: #88bedc 1px solid; border-left: #88bedc 1px solid; padding-bottom: 3px; background-color: #ffffff; padding-left: 3px; padding-right: 3px; border-top: #88bedc 1px solid; border-right: #88bedc 1px solid; padding-top: 3px">
<table border="0" cellspacing="0" cellpadding="0" width="100%" align="center">
    <tbody>
        <tr>
            <td colspan="2">
            <div style="border-bottom: #5ecbef 1px dotted; border-left: #5ecbef 1px dotted; padding-bottom: 4px; background-color: #f3fcff; padding-left: 4px; padding-right: 4px; border-top: #5ecbef 1px dotted; border-right: #5ecbef 1px dotted; padding-top: 4px">Dear <strong>{{$user.name}}<br />
            </strong><br />
            You have requested to reset your password associated with this email address . <br />
            <br />
            You password is <span style="color: #f00"><strong>{{$user.realpwd}}</strong></span> . <br />
            Please <a href="{{$httpdomain}}profile.php"><span style="color: #f00">Click Here</span></a> to login .<br />
            <br />
            Please reset your password within 72 hours and remember your password .</div>
            </td>
        </tr>
    </tbody>
</table>
<span style="line-height: 18px;"><br />
</span></div>
</div>