<link type="text/css" href="../pic/style.css" rel="stylesheet">
<table width="170" border="0" cellspacing="0" cellpadding="0" style="margin-bottom:5px;">
  <tr>
    <td  valign="top"  style="height:26px;  background:url(../pic/title_2_bg.gif) no-repeat"><span class="index_title">Search</span></td>
  </tr><form id="form1" name="formsearch" method="post" action="<{$folder}>products.php">
  <tr>
    <td style="padding:5px; border:1px #ECECEC solid">
      <input type="text" style="width:110px" name="name" id="name" value="<{$name}>" />
      <input type="submit" name="pageSubmit" id="button" value="search" />
    </td>
  </tr> </form>
</table>
