<link type="text/css" href="../pic/style.css" rel="stylesheet">
<{if $isRewrite eq 0}>

<div style="width:730px; height:30px; line-height:30px;">
	<div style="width:330px; height:30px; line-height:30px; float:left"><{$recordcount}> Item(s) Page <{$pagenow}> of <{$pagetotal}></div>
	<div style="width:400px; height:30px; line-height:30px; text-align:right; float:right;"><{if $pagenow >=2}>
	<a class="page"  href="<{$pageurl}>&page=<{$pagepre}>">&lt;</a> 
<{/if}>

<{if $pagetmp >=1}> 
 <a class="page"  href="<{$pageurl}>&page=<{math equation='x * y' x=$pagetmp y=10}>">&lt;&lt;</a> 
<{/if}>

<{section name=page start=1 loop=$maxpagenum+1 }>
<{if $pagenow !=  ( $pagetmp*10 + $smarty.section.page.index )  }> 
 <a class="page"  href="<{$pageurl}>&page=<{math equation='x * 10 + y' x=$pagetmp y=$smarty.section.page.index}>"><{math equation='x * 10 + y' x=$pagetmp y=$smarty.section.page.index}></a> 
<{else}>
	<span class="pageon"><{$pagenow}></span>
<{/if}>
<{/section}>

<{if $pagenow < $pagetotal}>
 <a class="page"  href="<{$pageurl}>&page=<{math equation='x + y' x=$pagenow y=1}>">&gt;</a> 
<{/if}>

<{if $pagetmp < $pagemaxnum }> 
 <a class="page" href="<{$pageurl}>&page=<{math equation=' ( x + 1 ) * 10 + 1' x=$pagetmp}>">&gt;&gt;</a> 
<{/if}>
<input name="pagenow" value="<{$pagenow}>" id="tb_page" type="text" size="3" class="pageinput"  /><input onclick="gotoPage()" class="pagebutton" value="GO" type="button" />
<script language="javascript">
function gotoPage()
{
	var page = $2("tb_page").value ;
	if( isNaN(page) )
	{
		alert("You should enter a number");
		return ;
	}
	location.href = "<{$pageurl}>&page=" + parseInt(page);
}
</script>
</div>
</div>
<{else}>
<table width="100%" border="0" cellspacing="0" cellpadding="5" style="">
<tr>
	<td  style="padding:2"  align="left">
    Displaying <{$pagesize*$pagenow-$pagesize+1}> to <{if $pagesize*$pagenow < $recordcount}><{$pagesize*$pagenow}><{else}><{$recordcount}><{/if}> (of <{$recordcount}> products)
	</td>
	<td  style="padding:2"  align="right">
<{if $pagenow >=2}>
	<a class="page"  href="<{$rewriteurl}>-<{$pagepre}>.html">[&lt; Prev]</a> 
<{/if}>

<{if $pagetmp >=1}> 
 <a class="page"  href="<{$rewriteurl}>-<{math equation='x * y' x=$pagetmp y=10}>.html">&lt;&lt;</a> 
<{/if}>

<{section name=page start=1 loop=$maxpagenum+1 }>
<{if $pagenow !=  ( $pagetmp*10 + $smarty.section.page.index )  }> 
 <a class="page"  href="<{$rewriteurl}>-<{math equation='x * 10 + y' x=$pagetmp y=$smarty.section.page.index}>.html"><{math equation='x * 10 + y' x=$pagetmp y=$smarty.section.page.index}></a> 
<{else}>
	<span class="pageon"><{$pagenow}></span>
<{/if}>
<{/section}>

<{if $pagenow < $pagetotal}>
 <a class="page"  href="<{$rewriteurl}>-<{math equation='x + y' x=$pagenow y=1}>.html">[Next &gt;]</a> 
<{/if}>

<{if $pagetmp < $pagemaxnum }> 
 <a class="page" href="<{$rewriteurl}>-<{math equation=' ( x + 1 ) * 10 + 1' x=$pagetmp}>.html">&gt;&gt;</a> 
<{/if}>
<input style="display:none;" name="pagenow" value="<{$pagenow}>" id="tb_page" type="text" size="3" class="pageinput"  /><input onclick="gotoPage()" class="pagebutton" value="GO" type="button" style="display:none;" />
<script language="javascript">
function gotoPage()
{
	var page = $2("tb_page").value ;
	if( isNaN(page) )
	{
		alert("You should enter a number");
		return ;
	}
	location.href = "<{$rewriteurl}>-" + parseInt(page) + ".html";
}
</script>	
	</td>
  </tr> 
</table>
<{/if}>