<link type="text/css" href="../pic/style.css" rel="stylesheet">
<table width="170" border="0" cellspacing="0" cellpadding="0" style="margin-bottom:5px;">
  <tr>
    <td  valign="top"  style="height:26px;  background:url(../pic/title_2_bg.gif) no-repeat"><span class="index_title">Categories</span></td>
  </tr>
  <tr>
    <td style="padding:5px; border:1px #ECECEC solid">
	Items:<{$items}><br />
	Total:<{$coin}> <{$totalprice}><br />
	<a href="<{$folder}>shopcart.html">View Cart</a>  <a href="<{$folder}>shopcart.php?action=clean">Clear Cart</a>
	
	</td>
  </tr>
</table>