<table border="0" cellspacing="0" cellpadding="0"  style="margin-bottom:10px">
  <tr>
    <td align="center">
	<script language="javascript">
	var interval_time=3 ;
var focus_width=523;
var focus_height=119;
var text_height=0;
var text_mtop = 0;
var text_lm = 0;
var textmargin = text_mtop+"|"+text_lm;
var textcolor = "#000000|0xff0000";
var text_align= 'center'; 
var swf_height = focus_height+text_height+text_mtop; 
var text_size = 12;
var borderStyle="0|0|0|0";
pics='http://img1.gtimg.com/kid/pics/hv1/212/15/539/35052512.jpg|http://img1.gtimg.com/news/pics/hv1/253/84/539/35070148.jpg|http://img1.gtimg.com/book/pics/hv1/59/249/537/34981979.jpg|http://img1.gtimg.com/comic/pics/hv1/102/3/538/34984317.jpg'
	var links='http://kid.qq.com/a/20100604/000008.htm|http://www.pcpp.com.cn/html/beauty/9/201006/03-55421.html|http://cul.book.qq.com/a/20100603/000005.htm|http://comic.qq.com/a/20100605/000011.htm'
var texts='当猩猩“爱上”小女孩|看我的祛黑头“零”攻略|全球少年儿童的不良恶习|范冰冰华丽COS秀曝光'//文字个数与片“个数”保持一致即可                                                   
document.write('<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" width="'+ focus_width +'" height="'+ swf_height +'">');
document.write('<param name="allowScriptAccess" value="sameDomain"><param name="movie" value="http://mat1.qq.com/news/2008/images/pp/hot_new.swf"> <param name="quality" value="high"><param name="Wmode" value="transparent">');
document.write('<param name="menu" value="false"><param name=wmode value="opaque">');
document.write('<param name="FlashVars" value="pics='+pics+'&links='+links+'&texts='+texts+'&borderwidth='+focus_width+'&borderheight='+focus_height+'&textheight='+text_height+'&textmargin='+textmargin+'&textcolor='+textcolor+'&borderstyle='+borderStyle+'&text_align='+text_align+'&interval_time='+interval_time+'&textsize='+text_size+'">');
document.write('<embed src="http://mat1.qq.com/news/2008/images/pp/hot_new.swf" wmode="opaque" FlashVars="pics='+pics+'&links='+links+'&texts='+texts+'&borderwidth='+focus_width+'&borderheight='+focus_height+'&textheight='+text_height+'&textmargin='+textmargin+'&textcolor='+textcolor+'&borderstyle='+borderStyle+'&text_align='+text_align+'&interval_time='+interval_time+'&textsize='+text_size+'" menu="false" bgcolor="#ffffff" quality="high" width="'+ focus_width +'" height="'+ swf_height +'" allowScriptAccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />');	document.write('</object>');
	</script>
	</td>
  </tr>
</table>