<link type="text/css" href="../pic/style.css" rel="stylesheet">
<script language=javascript>
function cshow(id)
{
var obj=document.getElementById(id);
if (obj.style.display=="none")
 {obj.style.display="block";}
else
 {obj.style.display="none";}
}
</script>
<style>
.c1{ line-height:23px; padding-left:10px; font-weight:bold ; height:23px; background:url(../pic/cata_bg.gif) no-repeat center left; border-bottom:1px #D0D0D0 dotted }
.c2{ padding-left:20px; line-height:23px;font-weight:bold}
.c3{ padding-left:30px; line-height:23px;font-weight:bold}
.c4{ padding-left:40px; line-height:23px;font-weight:bold}
.c5{ padding-left:50px; line-height:23px;font-weight:bold}
a.a1{color: #4E5255;}
a.a1:hover{color:#4E5255;}

a.a2{color:#4E5255;}
a.a2:hover{color: #4E5255;}

a.a3{color: #4E5255;}
a.a3:hover{color:#4E5255;}

a.a4{color: #4E5255;}
a.a4:hover{color:#4E5255;}

a.a5:link{color: #000000;}
a.a5:visited{color:#000000;}
a.a5:hover{color:#CC0000;}
a.a5:active{color:#000000;}
</style>
<table width="170" border="0" cellspacing="0" cellpadding="0" style="margin-bottom:5px;">
  <tr>
    <td  valign="top"  style="height:26px;  background:url(../pic/title_3_bg.gif) no-repeat"><span class="index_title" style="color:#FFFFFF">Categories</span></td>
  </tr>
  <tr>
    <td style="padding:5px; border:1px #ECECEC solid">
	<{$nclass_html}>
	</td>
  </tr>
</table>
