<link type="text/css" href="../pic/style.css" rel="stylesheet">

<div class="w772" style="margin-bottom:10px;">
  <div class="boxtop_772">
    <div class="boxtop_772_left">New Products</div>
    <div class="boxtop_772_right"><a class="more" href="<{$folder}>?New-Products-s1.html">More&gt;&gt;</a></div>
  </div>
  <div class="w770 boxborder1_pink">
  <{foreach key=key1 item=rows from=$rs_p_1 name=rs_p_1}>

       <div class="productdiv1">
         <div class="productdiv1box">
             <div class="productdiv1img">
              <p><a  href="<{$rows.rewrite}>"><img title="<{$rows.name}>" alt="<{$rows.name}>" lazy_data_src="<{$rows.realpic}>"  src="<{$rows.realpic}>"  border="0"/></a></p>
             </div>
              <{if $rows.showicon==1}><div class="phot"></div><{/if}>
              <{if $rows.showicon==2}><div class="pnew"></div><{/if}>
              <div class="productdiv1info">
                 <a href="<{$rows.rewrite}>"><{$rows.name}></a>
                 <span class="gray" style="text-decoration:line-through;"><{$coin}><{$rows.price2}></span> <span class="price"><{$coin}><{$rows.price}></span>
                 <a href="<{$rows.rewrite}>"><img src="../pic/smallcart.jpg" border="0" style="vertical-align:middle;" /></a>
              </div>
          </div>
        </div>
        <{if $smarty.foreach.rs_p_1.iteration%5==0}>
        <div class="clear1"></div>
        <{/if}>
  <{/foreach}>
        <div class="clear1"></div>
  </div>
</div>

<div class="w772" style="margin-bottom:10px;">
  <div class="boxtop_772">
    <div class="boxtop_772_left">Hot Products</div>
    <div class="boxtop_772_right"><a class="more" href="<{$folder}>?Hot-Products-s2.html">More&gt;&gt;</a></div>
  </div>
  <div class="w770 boxborder1_pink">
  <{foreach key=key1 item=rows from=$rs_p_2 name=rs_p_2}>

       <div class="productdiv1">
         <div class="productdiv1box">
             <div class="productdiv1img">
              <p><a  href="<{$rows.rewrite}>"><img title="<{$rows.name}>" alt="<{$rows.name}>" lazy_data_src="<{$rows.realpic}>"  src="<{$rows.realpic}>"  border="0"/></a></p>
             </div>
              <{if $rows.showicon==1}><div class="phot"></div><{/if}>
              <{if $rows.showicon==2}><div class="pnew"></div><{/if}>
              <div class="productdiv1info">
                 <a href="<{$rows.rewrite}>"><{$rows.name}></a>
                 <span class="gray" style="text-decoration:line-through;"><{$coin}><{$rows.price2}></span> <span class="price"><{$coin}><{$rows.price}></span>
                 <a href="<{$rows.rewrite}>"><img src="../pic/smallcart.jpg" border="0" style="vertical-align:middle;" /></a>
              </div>
          </div>
        </div>
        <{if $smarty.foreach.rs_p_2.iteration%5==0}>
        <div class="clear1"></div>
        <{/if}>
  <{/foreach}>
        <div class="clear1"></div>
  </div>
</div>

<div class="w772" style="">
  <div class="boxtop_772">
    <div class="boxtop_772_left">Why Choose Us?</div>
    <div class="boxtop_772_right"></div>
  </div>
  <div class="w770 boxborder1_pink">
   <div style="padding:8px;"><{$content_159}></div>
  </div>
</div>
