<link type="text/css" href="../pic/style.css" rel="stylesheet">
<div class="main_ct">
<{if $action=="step_1"}>
 <fieldset>
<legend><{$lg.pwd_step1_title}></legend>
            <table border="0" cellspacing="10">
              <form action="<{$folder}>get-pwd.php?action=step_2" method="post" name="formadd" >
                <tr>
                  <td  width="130" align="right"><{$lg.your_user_id}>:</td>
                  <td><input name="name" type="text"  class="input001" id="userid" maxlength="30" /></td>
                </tr>
                <tr>
                  <td  align="right">&nbsp;</td>
                  <td><input  onclick="return CheckForm()"  class="profilebutton" type="submit" value="<{$lg.submit}>" /></td>
                </tr>
              </form>
  </table>
</fieldset>

            <script language="JavaScript" type="text/javascript">

  function CheckForm()
  { 
if(!CheckIsNull("formadd","name","<{$lg.msg_username_null}>")) return false;
}
            </script>
<{elseif $action=="step_2"}>
<fieldset>
<legend><{$lg.pwd_step2_title}></legend>
            <table border="0" cellspacing="10">
              <form action="<{$folder}>get-pwd.php?action=step_3" method="post" name="formadd"   >
                <tr>
                  <td width="130" align="right"    ><{$lg.question}>:</td>
                  <td><{$rows.question}> <input type="hidden" name="name" value="<{$rows.name}>" /></td>
                </tr>
                <tr>
                  <td align="right"   ><{$lg.answer}>:</td>
                  <td><input type="text"  class="input001" name="answer" /></td>
                </tr>
                <tr>
                  <td  ></td>
                  <td><input onclick="return CheckForm()" type="submit" class="profilebutton"  name="Submitgetpass1"   value="<{$lg.submit}>" /></td>
                </tr>
              </form>
  </table>
</fieldset>
           
            <script language="JavaScript" type="text/javascript">

function CheckForm()
  { 
if(!CheckIsNull("formadd","answer","<{$lg.msg_answer_null}>")) return false;
}
            </script>
<{elseif $action=="step_3"}>
 <fieldset>
<legend><{$lg.pwd_step3_title}></legend>
           <table border="0" cellspacing="10">
              <form action="<{$folder}>get-pwd.php?action=step_4" method="post" name="formadd" >
                <tr>
                  <td width="140" align="right" ><{$lg.new_password}> :</td>
                  <td><input name="pwd" type="password"  class="input001"  maxlength="30" />
                    <input name="name" type="hidden" value="<{$rows.name}>" />
                    <input name="answer" type="hidden" value="<{$rows.answer}>" /></td>
                </tr>
                <tr>
                  <td align="right"><{$lg.confirm_password}>:</td>
                  <td><input name="pwd1" type="password" id="userid" maxlength="30" /></td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td><input  onclick="return CheckForm()" class="profilebutton" type="submit" value="<{$lg.submit}>" /></td>
                </tr>
              </form>
  </table>
</fieldset>	
 
            <script language="JavaScript" type="text/javascript">
function CheckForm()
  { 
if(!CheckIsNull("formadd","pwd","<{$lg.msg_pwd_null}>")) return false;
if(!CheckIsNull("formadd","pwd1","<{$lg.msg_confirm_password_null}>")) return false;
if(!CheckIsSame("formadd","pwd","pwd1","password","confirm password","<{$lg.msg_passwordsame_null}>")) return false;
}
</script>
<{/if}>
</div>